{% extends 'base.html' %}

{% load static %}

{% block titulo %}Editar Usuario{% endblock titulo %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">

{% endblock estilos %}

{% block content %}

<section class="card-section gradient-custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-form">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Editar Usuario</h3>
                        <form method="post" action="">
                            {% csrf_token %}

                            <div class="mb-3">
                                <div class="form-label">
                                    <label for="{{ form.username.id_for_label }}">Usuario</label>
                                </div>
                                {% if form.username.errors %}
                                <div class="alert alert-danger">{{ form.username.errors|striptags }}</div>
                                {% endif %}
                                <div class="form-field">{{ form.username }}</div>
                            </div>
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                            <a href="{% url 'usuarios:perfil' request.user.username %}" class="btn btn-danger">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}