{% extends 'base.html' %}

{% load static %}

{% block titulo %}Login{% endblock titulo %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">

{% endblock estilos %}

{% block content %}

<section class="card-section gradient-custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-form">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Iniciar Sesión</h2>
                        <form method="POST">
                            {% csrf_token %}

                            {% if form.errors %}
                            <div class="card error-card">
                                <div class="card-body">
                                    <p class="card-text">🚫Usuario o contraseña son incorrectos.</p>
                                </div>
                            </div>
                            {% endif %}

                            <div class="mb-3">
                                <div class="form-label">
                                    <label for="{{ form.username.id_for_label }}">Usuario</label>
                                </div>
                                <div class="form-field">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-label">
                                    <label for="{{ form.password.id_for_label }}">Contraseña</label>
                                </div>
                                <div class="form-field">
                                    {{ form.password }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success w-100">Iniciar Sesión</button>
                            <div class="d-flex justify-content-between">
                                <a href="{% url 'usuarios:registro_usuario' %}" class="btn btn-primary w-50" style="margin-top: 10px; margin-right: 5px;">Quiero crear una cuenta</a>
                                <a href="{% url 'usuarios:reset_contraseña' %}" class="btn btn-warning w-50" style="margin-top: 10px; margin-left: 5px;">Olvide mi contraseña</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}