{% extends 'base.html' %}

{% load static %}

{% block imagen_fondo %}
    url('{% static 'img/about-bg.jpg' %}')
{% endblock %}

{% block titulo %}
    LOGIN
{% endblock %}

{% block subtitulo %}
    Una pagina hecha por el Grupo 6 del Informatorio
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card login-form">
                <div class="card-body">
                    <h2 class="text-center mb-4">Iniciar Sesión</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="mb-3">
                            <label for="{{ form.username.id_for_label }}" class="form-label">Nombre de Usuario o Correo Electrónico</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password.id_for_label }}" class="form-label">Contraseña</label>
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}