{% extends 'base.html' %}

{% load static %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'css/u_logreg.css' %}">

{% endblock estilos %}

{% block content %}

<section class="logreg-section gradient-custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card logreg-form">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Iniciar Sesión</h2>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.errors }}
                            <div class="mb-3">
                                <div class="form-label">
                                    <label for="{{ form.username.id_for_label }}">Usuario</label>
                                </div>
                                <div class="form-field">
                                    {{ form.username }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="form-label">
                                    <label for="{{ form.password.id_for_label }}">Contraseña</label>
                                </div>
                                <div class="form-field">
                                    {{ form.password }}
                                </div>
                            </div>
                            <button type="submit" class="btn w-100" style="background-color: #008000; color: white;">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}