{% extends 'base.html' %}

{% load static %}

{% block titulo %}Registro{% endblock titulo %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">

{% endblock estilos %}

{% block content %}

<section class="card-section gradient-custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-form">
                    <div class="card-body">
                        <h3 class="text-center mb-4">Registro</h3>
                        <form action="" method="post">
                            {% csrf_token %}

                            {% if form.errors %}
                            <div class="card error-card">
                                <div class="card-body">
                                    <p class="card-text">🚫Por favor, revisa los campos e intenta nuevamente.</p>
                                </div>
                            </div>
                            {% endif %}

                            <div id="paso1">
                                <div class="mb-3">
                                    <div class="form-label">
                                        <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                                    </div>
                                    <div class="form-field">{{ form.first_name }}</div>
                                </div>

                                <div class="mb-3">
                                    <div class="form-label">
                                        <label for="{{ form.last_name.id_for_label }}">Apellido</label>
                                    </div>
                                    <div class="form-field">{{ form.last_name }}</div>
                                </div>
                            </div>

                            <div id="paso2" style="display: none;">
                                <div class="mb-3">
                                    <div class="form-label">
                                        <label for="{{ form.username.id_for_label }}">Usuario</label>
                                    </div>
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger">{{ form.username.errors|striptags }}</div>
                                    {% endif %}
                                    <div class="form-field">{{ form.username }}</div>
                                    {% if form.username.help_text %}
                                    <small class="form-text text-muted">{{ form.username.help_text }}</small>
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    <div class="form-label">
                                        <label for="{{ form.email.id_for_label }}">Email</label>
                                    </div>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger">{{ form.email.errors|striptags }}</div>
                                    {% endif %}
                                    <div class="form-field">{{ form.email }}</div>
                                </div>

                                <div class="mb-3">
                                    <div class="form-label">
                                        <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                                    </div>
                                    <div class="form-field">{{ form.password1 }}</div>
                                    {% if form.password1.help_text %}
                                    <small class="form-text text-muted">{{ form.password1.help_text }}</small>
                                    {% endif %}
                                </div>

                                <div class="mb-3">
                                    <div class="form-label">
                                        <label for="{{ form.password2.id_for_label }}">Confirmación de
                                            contraseña</label>
                                    </div>
                                    {% if form.password2.errors %}
                                    <div class="alert alert-danger">{{ form.password2.errors|striptags }}</div>
                                    {% endif %}
                                    <div class="form-field">{{ form.password2 }}</div>
                                    {% if form.password2.help_text %}
                                    <small class="form-text text-muted">{{ form.password2.help_text }}</small>
                                    {% endif %}
                                </div>

                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="terms" required>
                                    <label class="form-check-label" for="terms">
                                        He leído y acepto los <a href="{% url 'usuarios:term_cond' %}"
                                            target="_blank">TÉRMINOS Y
                                            CONDICIONES</a>
                                    </label>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary" id="siguiente">Continuar</button>
                            <button type="button" class="btn btn-primary" id="anterior"
                                style="display: none;">Anterior</button>
                            <button type="submit" class="btn" id="verificar"
                                style="background-color: #008000; color: white; display: none;"
                                disabled>Confirmar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

<script src="{% static 'js/usuarios.js' %}"></script>

{% endblock scripts %}