{% extends 'base.html' %}

{% load static %}

{% block titulo %}
Restablecer contraseña
{% endblock titulo %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">

{% endblock estilos %}

{% block content %}

<section class="card-section gradient-custom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card card-form">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Restablecer contraseña</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <div class="form-label">
                                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                </div>
                                {% if form.email.errors %}
                                <div class="alert alert-danger">{{ form.email.errors|striptags }}</div>
                                {% endif %}
                                <div class="form-field">
                                    {{ form.email }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Restablecer mi contraseña</button>
                            <a href="{% url 'usuarios:login' %}" class="btn btn-danger" style="margin-top: 10px;">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}