{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones - Noticias Informatorio</title>
    <link rel="icon" href="{%static 'img/favicon.ico'%}">
    <link rel="stylesheet" href="{% static 'css/term_cond.css' %}">
</head>

<body>

    <h1>Términos y Condiciones de Noticias Informatorio</h1>

    <h2>1. Aceptación de los Términos</h2>

    <p>Al acceder y utilizar el sitio web "Noticias Informatorio" (en adelante, el "Sitio"), usted acepta cumplir con los siguientes términos y condiciones de uso. Si no está de acuerdo con alguno de estos términos, le recomendamos que abandone el Sitio.</p>

    <h2>2. Uso del Sitio</h2>

    <p><strong>2.1. Contenido del Sitio:</strong> La información proporcionada en Noticias Informatorio es con fines informativos. No nos hacemos responsables de la exactitud, integridad o actualidad de la información.</p>

    <p><strong>2.2. Registro de Usuario:</strong> Al registrarse en el Sitio, usted se compromete a proporcionar información precisa y completa. Es su responsabilidad mantener la confidencialidad de su cuenta y contraseña, y acepta la responsabilidad de todas las actividades que ocurran bajo su cuenta.</p>

    <p><strong>2.3. Uso Aceptable:</strong> Usted se compromete a utilizar el Sitio de manera ética y legal, sin infringir derechos de terceros o violar cualquier ley aplicable.</p>

    <h2>3. Propiedad Intelectual</h2>

    <p><strong>3.1. Derechos de Autor:</strong> Todo el contenido publicado en el Sitio, incluyendo pero no limitándose a textos, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y otras leyes de propiedad intelectual.</p>

    <p><strong>3.2. Uso No Autorizado:</strong> No se permite la reproducción, distribución, o modificación del contenido del Sitio sin la autorización expresa por escrito de Noticias Informatorio.</p>

    <h2>4. Enlaces a Terceros</h2>

    <p>El Sitio puede contener enlaces a sitios web de terceros. Noticias Informatorio no asume responsabilidad por el contenido, la precisión o las prácticas de privacidad de estos sitios. El uso de estos enlaces es bajo su propio riesgo.</p>

    <h2>5. Modificaciones de los Términos</h2>

    <p>Nos reservamos el derecho de modificar estos términos en cualquier momento. Las modificaciones entrarán en vigencia tan pronto como se publiquen en el Sitio. Le recomendamos revisar periódicamente los términos y condiciones.</p>

    <h2>6. Contacto</h2>

    <p>Si tiene preguntas o inquietudes sobre estos términos y condiciones, puede ponerse en contacto con nosotros a través de <a href="{% url 'contactos:contacto' %}">nuestro formulario de contacto</a>.</p>

    <p>Al utilizar el Sitio, usted acepta estos términos y condiciones. ¡Gracias por ser parte de Noticias Informatorio!</p>

    <p>Fecha de última actualización: 28 de Diciembre del 2023</p>

</body>

</html>
