body {
    min-height: 100vh; /* Hace que el cuerpo ocupe como mínimo el 100% de la altura visible del viewport */
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1; /* Hace que la sección de contenido se expanda para ocupar el espacio restante */
}

#main-content-wrapper {
    min-height: 100vh; /* Asegura que la altura del contenido sea al menos igual a la altura de la ventana */
    position: relative; /* Permite que el contenido dentro de este div sea posicionado con relación a él */
}

/* Agrega estilos personalizados para el footer */
footer {
    display: none;
    background-color: #343a40; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 10px 0; /* Espaciado interno */
    position: absolute;
    bottom: 0;
    width: 100%;
}