.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.login-section {
    margin-top: 0; /* Ajusta este valor a 0 */
    padding-bottom: 500px;
}

.login-form {
    margin-top: 150px;
    border-radius: 20px; /* Añade bordes redondeados a la tarjeta de inicio de sesión */
}