{% extends 'base.html' %}

{% load static %}

{% block estilos %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock estilos %}

{% block content %}
<section class="body-about gradient-custom">    
    <section class= "card-about">
        <section class="header">
            <h1> Acerca de esta página </h1>
        </section>
        <section class="about-section">            
            <h2>Finalidad</h2>
            <p>Con este proyecto buscamos que más personas puedan conocer y promover emprendimientos del Chaco.</p>
            <p>Dentro de la página podrá encontrar múltiples noticias acerca de los distintos emprendimientos que los ciudadanos chaqueños tienen para ofrecer.<br>Desde categorías de alimentos e indumentaria a otros como
            deportes y tecnología.</p>
            <p>De la misma manera, esta página cuenta con funciones como: crear tu propio usuario y perfil para detallar tu información, además de poder crear, modificar y comentar
            noticias que sean de tu interés.</p>
        </section>
        <section class="about-section">
            <h2>Nuestra Historia</h2>
            <p>Somos un grupo de 5 estudiantes de la Comisión 1 del Informatorio en Chaco creando su primera página web.<br>Esta página fue diseñada con conocimientos adquiridos a lo largo del curso como Python, 
                Django, Base de datos y Programación orientada a objetos.</p>
        </section>
        <section class="about-section">
            <h2>Nuestro Equipo</h2>
            <div class="about-section-m">
                <div class="miembro">                     
                    <a href="https://github.com/biancaMic" target="_blank" class="rounded-button">Bogado Bianca<i class="fab fa-github boton-miembro"></i>
                    </a>
                </div>            
                <div class="miembro">                     
                    <a href="https://github.com/mewallfowerx" target="_blank" class="rounded-button">Brandan Aixa<i class="fab fa-github boton-miembro"></i>
                    </a>
                </div>
                <div class="miembro">                     
                    <a href="https://github.com/LukitaPeola" target="_blank" class="rounded-button">Brandan Ian<i class="fab fa-github boton-miembro"></i>
                    </a>
                </div>
                <div class="miembro">                     
                    <a href="https://github.com/galoguini" target="_blank" class="rounded-button">Guini Galo<i class="fab fa-github boton-miembro"></i>
                    </a>
                </div>
                <div class="miembro">                     
                    <a href="https://github.com/JuanMarighetti" target="_blank" class="rounded-button">Marighetti Juan<i class="fab fa-github boton-miembro"></i>
                    </a>
                </div>
                
            </div>
        </section>
        <!-- Otras secciones -->
        <section class="about-section">
            <h2>Contacto</h2> 
            <p>Si quieres contactarte con nosotros puedes visitar nuestra página de contacto.</p>
            <a href="{% url 'contactos:contacto' %}" class="btn btn-primary">Ir a contacto</a>
        </section>
    </section>
</section>





{% endblock content %}